name: CI/CD Pipeline

on:
  push:
    branches:
      - live
#
jobs:
  build:
    runs-on: self-hosted
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      
      - name: Build Docker Image
        run: |
          sudo docker build --no-cache -f Dockerfile -t tiktak-service-socket:latest .
        shell: bash

  deploy:
    runs-on: self-hosted
    needs: build
    steps:
      - name: Deploy to Server
        run: |
          sudo bash -c 'cd /root/ && docker compose up -d tiktak-service-socket --force-recreate' 
        shell: bash
